@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:wght@300..800&family=Bebas+Neue&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #C5A059;
  --color-primary-dull: #9A7C43;
  --color-background: #0B0A0F;
  --color-surface: #15141A;
  --font-sans: "Inter", sans-serif;
  --font-serif: "Bebas Neue", sans-serif;
  --font-logo: "Cinzel", serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #C5A059 #0B0A0F;
}

body {
  color: #E2E2E2;
  background-color: var(--color-background, #0B0A0F);
  font-family: var(--font-sans, "Inter", sans-serif);
}

h1, h2, h3, h4, h5, h6, .cinematic-title {
  font-family: var(--font-serif, "Cinzel", serif);
  letter-spacing: 0.05em;
}

.no-scrollbar {
  scrollbar-width: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
